{% extends "_base.html" %}

{% block head %}
  <title>MimiCar</title>
{% endblock head %}

{% block content %}
  
  <main class="container flex mx-auto mt-6">
    {% include "components/sidebar.html" %}

    <div class="flex-1 p-4 overflow-x-hidden md:p-0 md:ps-6">
      {% include "components/search_bar.html" %}

      <section class="flex gap-2 mt-6 overflow-x-hidden">
        <div class="brand-selector">SeaFord Mustangeh</div>
        <div class="brand-selector">Chevrolet Camero</div>
        <div class="brand-selector">Chevrolet Covetti</div>
        <div class="brand-selector">Chevrolet CIO</div>
        <div class="brand-selector">Chevrolet Bel Air</div>
      </section>

      <section class="items-center p-3 md:p-6 mt-6 text-white md:py-1 rounded-xl bg-dark grid grid-cols-[75%,40%] md:grid-cols-[60%,40%] overflow-x-hidden bg-[url('/static/assets/header-mobile-back.png')] bg-no-repeat bg-right-top md:bg-[url(none)]">
        <h1 class="w-full text-lg tracking-wider lg:!leading-[4rem] md:text-3xl lg:text-5xl font-ultra">GET CLEAN AND AFFORDABLE FAIRLY USED CAR</h1>
        <img class="hidden md:translate-x-36 lg:translate-x-40 -scale-x-100 md:inline" src="/static/assets/carr.png" alt="">
      </section>

      {% include "components/car_catalog.html" %}

    </div>
  </main>

{% endblock content %}